/* body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #47398D;
  }
  
  h1{
    color: white;
  }
  
  button{
    background-color: green;
    width: 15vw;
    padding: 10px;
    border-radius: 50px;
    color: white;
  } */

  body{
    margin: 0;
    background-color: #47398D;
  }

.first{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    color: white;
    margin-bottom: 20%;
  }

  .first button{
    background-color: green;
    width: 15vw;
    padding: 10px;
    border-radius: 50px;
    color: white;
  }

  .second{
    background-color: aliceblue;
    border-left: 10px #736ED4 solid;
    text-align: center;
    margin:  5vw;
    height: 55vh;
    margin-bottom: 20%;
    padding: 5%;
  }

  .questions{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    margin-bottom: 20px;
  }

  .questions h4{
    display: inline-block;
    justify-content: center;
    background-color: #1EA1F1;
    padding: 10px;
    width: 20vw;
    border-radius: 50px;
  }

  .buttons button{
    margin: 10px;
    padding: 7px;
    border: none;
  }

  .previous{
    background-color: #3E7EAA;
  }

  .next{
    background-color: #008001;
  }

  .quit{
    background-color: #FF0000;
  }

  .resultp{
    text-align: center;
  }

  .resultp h1{
    color: green;
  }

  .result{
    background-color: white;
    margin:  5vh 15vw;
    padding: 5%;
    border-left: 10px #736ED4 solid;
  }

  .yourscore{
    font-size: 30px;
    color: #0000FF;
  }

  .score{
    display: flex;
    justify-content: space-between;
  }

  .again{
    margin: 1% 3%;
  }

  .play{
    color: #7777D6;
    border: #7777D6 1px solid;
  }

  .back{
    color: #008001;
    border: #008001 1px solid;
  }


